body{
    width: 100%;
    margin: 0;
    font-family: Arial , sans-serif;
    text-align: center;
}
header li{
    list-style: none;
    margin-right: 2%;
    display: inline;
    float: right;
    margin-top: 1.5%;
    width: 100px;    
}
li ul{
    /* display: none; */
    color: rgba(250,250,250, 0.6);
    font-size: 9px;
    width: 100px;
    height: 0px;
    overflow: hidden;
    transition: linear 1s;
    padding-left: 0;
}
/* li ul:hover{
    transition: linear 0.5s; 
    
} */
li ul li{
    margin-top: 5%;
    text-align: center;    
}
li:hover ul{
    height: 50px;
}

header li a{
    padding: 10px;
    text-align: right;
    margin-top: 1%;
    text-decoration: none;
    color: #315565;
    text-transform: uppercase;
    font-size: 11px;
    margin-left: 1%;
    transition: 0.4s 0.1s;
    /* transition-delay: 0.1s;     */
    /* transition-timing-function: linear;     */
    letter-spacing: 2px;
}
header li a:hover{
    color: rgba(250,250,250, 0.6);        
}  
header h2{
    /* text-transform: capitalize; */
    font-variant: small-caps;
}  
main{
    width: 80%;
    margin: auto;
}
footer{
    background: #333;
    text-align: center;
    color: white;
    height: 70px;
    width: 100%;
    margin-top: 2%;
}
footer p{
    margin: auto;
    font-size: 11px;
    line-height: 70px;
    text-shadow: 1px 1px 1px #ddd;
}
.menu{
    display: block;
    background-color: #081a24;
    height: 50px;
    margin-top: 0;
    text-align: right;
}
.menu img{
    margin-top: 0.5%;
    transition: 0.5s;
    opacity: 0.5;
    display: inline-block;
    float: left;
}
.menu img:hover{
    opacity: 1;
}
    
.hero{
    background-image: url(../imagens/topo.jpg);
    height: 500px;
    background-position: left top;
    background-size: cover;
}
.hero-content h1{
    text-transform: uppercase;
    font-size: 50px;
    text-shadow: 3px 3px 10px #333;
}
.hero-content p{
    background: rgba(0,0,0, 0.4);
    display: inline-block;
    padding: 15px;   
    border-bottom: 2px solid white;
}
.content-section{
    background-color: white;
    padding: 15px;
    margin-top: 15px;
    overflow: auto;
    margin-bottom: 5%
}
.subheader{
    background: #ddd;
    padding: 10px;
    border-bottom: solid 1px #333;
}
.content-section .card{
    float: left;
}
.card{
    width: 32%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;  
    margin-bottom: 5%;
}
.card h2{
    color: #333;
    letter-spacing: 5px;
    background: rgba(8, 3, 3, 0.11);
    box-shadow: 1px 10px 100px rgba(8, 3, 3, 0.49);      
}
.card h3{
    color: #8F8D8D;
    font-size: 15px;
}
.card-1 , .card-2{
    margin-right: 2%
}
.card img{
    width: 100%
}
.texto1 p{
    color: #8F8D8D;
    line-height: 2;    
}
.box-blue{
    background-image: url(../imagens/bg_detalhe.png);
    background-position: left top;
    background-size: cover;
    padding: 8%;
    text-align: left;
    color: #ffffff
}
.box-blue h1{
    font-size: 45px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif
}
.box-blue p{
    line-height: 1.5;
    padding-right: 40%;
}
.call-me{
    margin-bottom: 5%;
    text-transform: uppercase;
    color: rgba(8, 3, 3, 0.68); 
}
.google{
    width:32px
}